*{margin: 0;}
.navbar{
    background-color: rgb(163, 253, 253);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height:50px;
    padding: 15px;
}
.boton{ border: 2px solid black; text-decoration: none; color: gray; padding:5px; border-radius: 20px; background-color: rgb(103, 255, 255); padding-left: 20px;padding-right: 20px;height: fit-content;width: fit-content;}
.boton:hover{background-color: rgb(20, 255, 255); padding: 8px; padding-left: 25px; padding-right: 25px;}
.h1rojo{color: red;}